@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    /* background-image: url(image\ \(38\).jpg);
    background-position: center;
    background-size: cover; */
    color: #fff;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 14px;
    /* box-shadow: 0 0 10px white; */
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

header .logo li{
    width: 50px;
    height: 50px;
    background-color:yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 12px  30px blue;
}

header .logo li i{
    font-size: 32px;
    color: black;
}

header .logo h2{
    font-size: 25px;
    font-weight: bold;
}

header .navbar{
    /* margin-left: 550px; */
    margin-left: 550px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header .navbar ul li a{
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

header .navbar ul li a:hover{
    text-decoration: underline;
}

header .icon{
    margin-right:20px;
}
header .icon li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px white;
    transition: .4s;
}

header .icon li:hover{
    scale: 1.1;
}

header .icon li i{
    color: #000;
    cursor: pointer;
}

/* ======================Home(Hero)================================= */

.home{
    position: relative;
    display: flex;
    gap: 50px;
    padding:30px;
}

.home .right{
    margin-top:60px;
    margin-left: 80px;
}

.home .right h1{
    font-size: 50px;
    font-weight: bold;
}
.home .right h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(243, 214, 214);
}
/* .home .right h3 span{
    font-size: 30px;
    font-weight: bold;
    color:black;
} */

.home .right p{
    width: 70%;
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.home .right .button{
    margin-top: 14px;
}

.home .right .button .btn{
    width: 130px;
    padding: 10px;
    background-color:yellowgreen;
    color: #000;
    cursor: pointer;
    border: 2px solid black;
    border: none;
    outline: none;
    font-size:18px;
    font-weight: bold;
    transition: .4s;
}

.home .right .button .btn:hover{
    scale: 1.1;
    border: 1.5px wheat;
    outline: none;
    border-radius: 30px;
}

.home .left{
    margin-top: 60px;
    margin-right: 80px;
}

.home .left form{
    border: 1.2px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 22px 30px yellowgreen;
}
.home .left form h3{
    font-size: 30px;
    font-weight: bold;
}

.home .left h3{
   text-align: center;
}

.home .left .input-box{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.home .left .input-box .sanjay{
   padding: 10px;
   background-color:transparent;
   color: #fff;
   outline: none;
   border: none;
   border-radius: 5px;
   box-shadow: 0 0 5px white;
}


.home .left #btn{
    width: 100%;
    padding: 8px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
    border:none;
    outline: none;
    background-color:blue;
    color: #fff;
}
#btn:hover{
    background-color:blue;
    color: #fff;
}